<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>스프링 블로그</title>
    <link rel="stylesheet" href="/css/private.css">
    <link rel="stylesheet" href="/content.js">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">



    <style>



    </style>
</head>

<body>
<nav class="navbar-dark">
    <a class="main-navbar" href="/">Private</a>   |
    <!--    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">-->
    <!--        <span class="navbar-toggler-icon"></span>-->
    <!--    </button>-->

    <div class="navbar-collapse" id="navbarColor02">
        <div class="colapse02">     |
            <div class="nav-item">
                <a class="nav-link" href="login.html">로그인</a>  |
            </div>
            <div class="nav-item">
                <a class="nav-link" href="private.html">로그아웃</a>  |
            </div>
            <div class="nav-item">
                <a class="nav-link" href="write.html">글쓰기</a>  |


            </div>
        </div>


        <form class="search">
            <div class="search1">
                <input class="search" type="text" placeholder="Search">
                <button class="search" type="submit">Search</button>
            </div>
        </form>
    </div>
</nav>
<div id="post-box" class="form-post">
    <div class="card">
        <div class="card-body">
            <h5  id="title" class="" >
                <!--                                    <button location.href="/">돌아가기</button>-->
                봄봄봄
            </h5>
            <p  id="contents" class="text">🌸🌸🌸</p>
            <p  id=name" class="name">봄개발자<span class="metadata" >|2021-03-30</span></p>

        </div>
    </div>
</div>



</body>
</html>